body {
    font-style: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
a:hover {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=39702);
}
#content {
    width: 100%;
}
.clear {
    clear: both;
}
#header {
    width: 100%;
    height: 130px;
    background-color: #3F51B5;

}
body, #content {
    height: 100%;
}
#container {
    width: 100%;
    position: relative;
    /*padding: 0 30px 50px;*/
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    overflow: visible;
    height: 100%;
}
#header h1 {
    color: #fff;
    padding: 30px;
    margin: 0;
}
.card {
    width: 500px;
    padding: 40px;
    background-color: #fff;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
    top: -25px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

}
.card a {
    text-decoration: none;
    color: #fff;
    background-color: #F44336;
    padding: 20px;
    display: block;
    margin-bottom: 15px;
}
ul {
    padding: 0;
    margin: 0;
}


input {
    padding: 10px;
    display: block;
    width: 215px;
}
button {
    text-decoration: none;
    color: #fff;
    background-color: #F44336;
    padding: 10px;
    float: right;
    display: block; 
    position: relative;
    top: -40px;
    border: none;
}



nav ul {
    float: right;
    margin-right: 50px;
    position: relative;
    top: -44px;
}
nav ul li {
    display: inline-block;
    margin-left: 30px;

}
nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
