{% extends "SMSSNBundle::layout.html.twig" %}

{% block title "SSN" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Hello world!</h1>
    <ul id="demo-list">

        <li><a href="{{ url('smssn_homepage') }}">HOME</a></li>
        <li><a href="{{ url('fos_user_registration_register') }}">Register</a></li>
        <li><a href="{{ url('fos_user_security_login') }}">Login</a></li>
    </ul>
{% endblock %}
